body{
    background-color: rgb(27, 16, 91);
}
.x{
    background-color: antiquewhite;
}

.upper{
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    height: 40%;
    width: 60%;
    margin-left: 20%;
    background-color: transparent;
    z-index: 1;
    


}
.x{
    height: 200px;
   width: 200px;
   border-radius: 10px;
  
}

.loi{
    width: 40px;
    height: 35px; 
    margin-left: 40%;
    margin-top: 30px;
    border-radius: 8px;

}

.tbl{
    z-index: 2;
    height: 380px;
    border-radius: 10px;
    display: flex;
    width: 500px;
    margin-left: 33.5%;
    margin-top: -70px;
    background-color: aqua;
}

.fhead{
    padding-left: 180px;
    padding-top: 45px;
}

.z{
    margin-left: 170px;
    margin-top: 12px;
    height: 30px;
}

.b{
    width: 100px;
    height: 35px;
    border-radius: 6px;
    margin-left: 200px;
    margin-top: 10px;
}   